body 
{
    font-family: 'Times New Roman', serif; 
    background-color: #888;
    color: #000;
}

.LC 
{
    margin: 20px;
    padding: 10px;
    border: 1px dotted #000;
}

input[type="text"],
input[type="password"] 
{
    margin-bottom: 10px;
    padding: 5px;
    background-color: yellow; 
}

input[type="text"]:focus,
input[type="password"]:focus 
{
    border: 2px solid #ff0; 
    background-color: #555; 
}

.M 
{
    margin-top: 20px;
}

.M a 
{
    display: block;
    color: red;
    margin-bottom: 5px;
    text-decoration: none;
    padding: 5px; 
    background-color: pink; 
    border: 1px solid red; 
    text-align: center; 
    width: 30px;
    margin-left: 20px;
    padding-left: 20px;
}

.M a:hover 
{
    color: #00ff00; 
    background-color: #444; 
}